h1 {
  font-size: 7vw;
}

.rating {
  font-size: 15vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

input {
  display: none;
}

label {
  cursor: pointer;
  position: relative;
  color: yellow;
}

label::before {
  content: '★';
  position: absolute;
  opacity: 0;
}

label:hover::before {
  opacity: 1 !important;
}

label:hover ~ label::before,
label:hover ~ label::before {
  opacity: 1;
}

input:checked + label::before,
input:checked ~ label::before {
  opacity: 1;
}

.rating:hover input:checked ~ label::before {
  opacity: 0.3;
}

.rating input:checked ~ label::before {
  opacity: 1;
}
